.bg-DF2935{
    background-color: #DF2935;
}

/* #pill-crusher{
    padding-top: 250px;
    position: relative;
} */

/* #pill-crusher::after{
    content: "";
    clip-path: polygon(100% 0, 0 0, 50% 100%);
    background-color: #DF2935;
    height: 200px;
    max-width: 100%;
    position: absolute;
    bottom: -199px;
    left: 0;
    width: 100%;
    z-index: 50;
} */